/* **************************************************
   GLOBAL LAYOUT – NICHT ANFASSEN!!!
   ************************************************** */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "nav nav"
    "aside main"
    "jennifer main"
    "matthias miro"
    "footer footer";
}

/* Grid-Zuweisungen */
#vaska {
  grid-area: nav;
}
#jim {
  grid-area: aside;
}
#judith {
  grid-area: main;
}
#jennifer {
  grid-area: jennifer;
}
#matthias {
  grid-area: matthias;
}
#miro {
  grid-area: miro;
}
#timo {
  grid-area: footer;
}

/* Einheitliche Grundboxen */
nav,
aside,
main,
section,
footer {
  padding: 1.5rem;
  border: 1px solid #ccc;
}
/* ****************************************************
   *************** GLOBAL LAYOUT – ENDE ***************
   ************************************************** */

/* ==================================================
   VASKA – NAVIGATION - BEGIN
   ================================================== */
#vaska {
  background-color: #010144;
  color: white;
  border: 2px solid #e91823;
  border-radius: 10px;
}

#vaska h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
}

#vaska ul {
  line-height: 1.8;
  font-size: 1.2rem;
}

#vaska a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* VASKA – NAVIGATION - ENDE ------------------------ */

/* ==================================================
   JIM – ASIDE - BEGIN
   ================================================== */
#jim {
  background: #fff3e0;
}
/* JIM – ASIDE - ENDE ------------------------------- */

/* ==================================================
   JUDITH – MAIN - BEGIN
   ================================================== */
#judith {
  background: #fffce2;
  border: #000000 2px solid;
  border-radius: 10px;
}

#judith p {
  color: #a09004;
}

#judith h2 {
margin-bottom: 0px;
}

#judith h3 {
  margin-top: 3px;
}

#judith #bild {
  width: 13%;
  margin-left: 42%;
}

/* JUDITH - MAIN - ENDE ------------------------------ */

/* ==================================================
   JENNIFER – INFOBOX - BEGIN
   ================================================== */
#jennifer {
  background: #eef3ff;
}
/* JENNIFER - INFOBOX - ENDE ------------------------ */

/* ==================================================
   MATTHIAS – INTERAKTION - BEGIN
   ================================================== */
#matthias {
  background: #e8f5e9;
  border: #263238 2px solid;
  border-radius: 10px;
}
#matthias button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #263238;
  color: white;
}

#matthias #jsRules {
  width: 50%;
  padding-bottom: 10px;
}

#matthias #link {
  margin-top: 0px;
  color: #263238;
}

#matthias #liste li {
  padding-bottom: 10px;
  color: #03960f;
}
/* MATTHIAS – INTERAKTION - ENDE -------------------- */

/* ==================================================
   MIRO – ZUSATZ
   ================================================== */
#miro {
  background: #fce4ec;
}
/* MIRO - ZUSATZ - ENDE ----------------------------- */

/* ==================================================
   TIMO – FOOTER
   ================================================== */
#timo {
  background: #ddd;
  text-align: center;
}
/* TIMO – FOOTER - ENDE ----------------------------- */
